* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* HERO SECTION */
.home-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

/* WAVE BACKGROUND */
.home-hero .wave {
    position: absolute;
    inset: 0;
    background: #0f172a;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
}

.home-hero .wave span {
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.home-hero .wave span:nth-child(1) {
    border-radius: 45%;
    background: rgba(124,58,237,0.35);
    animation: animate 6s linear infinite;
}

.home-hero .wave span:nth-child(2) {
    border-radius: 40%;
    background: rgba(79,70,229,0.35);
    animation: animate 12s linear infinite;
}

.home-hero .wave span:nth-child(3) {
    border-radius: 42.5%;
    background: rgba(15,23,42,0.6);
    animation: animate 18s linear infinite;
}

/* CONTENT ON TOP */
.home-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.home-content h1 span {
    color: #a78bfa;
}

/* ANIMATION */
@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


body {
background: #000000;
color: #e5e7eb;
}


nav {
display: flex;
justify-content: space-between;
padding: 20px 80px;
background: #020617;
}


nav h1 { color: #38bdf8; }


nav ul {
display: flex;
list-style: none;
}


nav ul li a {
color: #e5e7eb;
margin-left: 25px;
text-decoration: none;
}


.hero {
padding: 120px 80px;
}


.hero span { color: #38bdf8; }


.btn {
display: inline-block;
margin-top: 20px;
padding: 12px 25px;
background: #384bf3;
color: #020617;
text-decoration: none;
border-radius: 6px;
}
.btn:hover{
    opacity: 0.5;
}

.base-btn{
    display: inline-block;
margin-top: 10px;
padding: 8px 16px;
background: #2233c5;
color: #ffffff;
border-radius: 10px;

}

.base-btn:hover{
    opacity: 0.7;
}
.link-btn{
    display: inline-block;
    border-radius: 8px;
    padding: 3px 6px;
    background: #000000;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.link-btn:hover{
    opacity: 0.5;
}


.section-title {
padding: 60px 80px 20px;
font-size: 32px;
}


.projects {
    margin-top: 30px;
text-align: center;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 25px;
padding: 20px 80px;
}

.proj{
    margin-top: 30px;
}
.cont{
    margin-top: 30px;
}
.abo{
    margin-top: 30px;
}

.card {
background: #1c005c;
padding: 50px;
margin: 10px;
border-radius: 50px;
text-align: center;
}


.tech {
color: #38bdf8;
margin: 10px 0;
}


footer {
text-align: center;
padding: 20px;
margin-top: 50px;
margin-bottom: 50px;
background: #1c005c;
}
.about {
    color: #ffffff;
  text-align: center;
  font-style: inherit;
  padding: 50px 20px;  
  margin-bottom: 50px;
  margin-top: 50px;
    
 
  
}
.contact{
    color: #ffffff;
    text-align: center;
    font-style: inherit;
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
p.a {
  font-family: "Audiowide", sans-serif;
}
h1.a{
    font-family: "Audiowide", sans-serif;
}
h2.a{
    font-family: "Audiowide", sans-serif;
}
.fa {
  padding: 10px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 30px 15px;
  border-radius: 20%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github{
    background: #fffefe;
    color: #000000;
}


