{% extends 'base.html' %}
{% block content %}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<div class="cont">
<div style="text-align: center;">
<h1 class="a">Contact</h1>
</div>
<div class="contact">
<div class="card">



<a href="https://www.linkedin.com/in/abdelrahman-shawky-0a6353231/" class="fa fa-linkedin"></a>
<a href="https://github.com/Abdelrahmanshawkymo">
<i class="fa fa-github"></i>
</a>

<p class="a"> Email: abdelrahman00sh@gmail.com</p>


</div>
</div>
</div>
</div>
{% endblock %}