{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<div class="proj">
<div style="text-align: center;">
<h1 class="a">Projects</h1>
</div>
</div>

<div class="projects">
<div class="card">
<h3>Sonic Log Prediction System</h3>
<p>Machine learning system to predict P-sonic logs using well log data.</p>
<p class="tech">Python • Flask • Scikit-learn</p>
<a href="#" class="link-btn">GitHub</a>

</div>
</div>
{% endblock %}